@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap&family=Roboto:wght@200;400&display=swap');

$ff-primary: 'Poppins', sans-serif;
$ff-secondary: 'Roboto', sans-serif;
$fw-reg: 400;
$fw-bold: 700;

$clr-white: #f6f6f4;
$clr-white-hover: #f6f6f4cc;
$clr-black: #222222;
$clr-black-hover: #222222cc;
$clr-green: #2e8b57;

$shadow: 0 7px 7px
  rgba(
    $color: #000,
    $alpha: 0.1,
  );
