@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap&family=Roboto:wght@200;400&display=swap');

$ff-primary: 'Poppins', sans-serif;
$ff-secondary: 'Roboto', sans-serif;
$fw-reg: 400;
$fw-bold: 700;

$clr-white: #f6f6f4;
$clr-black: #222222;
$clr-black-hover: #222222cc;
